<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coachticket_admin" >

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoachTicket_Admin" >
        <activity
            android:name=".MMap"
            android:exported="false" />
        <activity
            android:name=".EditCity"
            android:exported="false" />
        <activity
            android:name=".AddCity"
            android:exported="false" />
        <activity
            android:name=".AllCity"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="true" />
        <activity
            android:name=".ControlTicketActivity"
            android:exported="false" />
        <activity
            android:name=".AddVoucher"
            android:exported="false" />
        <activity
            android:name=".EditVoucher"
            android:exported="false" />
        <activity
            android:name=".AllVoucher"
            android:exported="false" />
        <activity
            android:name=".DetailTicket"
            android:exported="false" />
        <activity
            android:name=".AllTicket"
            android:exported="false" />
        <activity
            android:name=".EditCoach"
            android:exported="false" />
        <activity
            android:name=".AddCoach"
            android:exported="false" />
        <activity
            android:name=".AllTrip"
            android:exported="false" />
        <activity
            android:name=".EditTrip"
            android:exported="false" />
        <activity
            android:name=".AddTrip"
            android:exported="false" />
        <activity
            android:name=".AllCoach"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SplashScreen2"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>